/* Set the font size and line height */
body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-size: 16px;
  }
  
  /* The menu and title of the page styling
      It's also responsive to where the nav
      items wrap under the title 
  */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0%;
    background-color: #000000;
    color: #fff;
  }
  /* h1 styling for the whole page */
h1 {
    margin: 2%;
    font-size: 200%;
    font-family: 'Work Sans', sans-serif;
    font-weight: bolder;
    text-align: center;

  }
  
 /* h2 styling for the whole page */
  h2 {
    margin: 3% 0;
    font-size: 100%;
    font-family: serif;
    font-family: 'Poppins', sans-serif;

  }
  
  /* h3 styling for the whole page */
  h3 {
    margin: 1%;
    font-size: 150%;
    font-family: serif;
    
  }
  
  /* The Navigation has 
   */
  nav ul {
    display: flex;
    justify-content: space-between;
    color: #fff;
    min-width: 300px;
    margin: 0;
    padding: 0;
    padding-right: 64px;
    padding-left: 60px;
    text-decoration-line: underline;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    
    
  /* add underline element */
  }
  
  /* The links within the Navigation
      color is set to a whitish color and bold
   */
  nav a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    /* font-size: 24px; */
  }

  
/* The first section that will be grey with white text
    and responsive
*/
  .GreyBox {
    color: lightcyan;
    margin: 0px auto;
    background-color:rgba(0, 0, 0, 0.8);
  
  }

  /* Hire Me Button Properties */

  .HireMe {
    color: rgb(0, 0, 0);
    width:30%;
    min-height: 50px;
    border-radius: 7px;
    margin: 10px;
    font-size: 12px;
   }

   /* Know More! Button properties  */
 
  .MoreInfo {
    background-color:rgba(51, 51, 51);
    color: #F5BF00;
    width:30%;
    min-height: 50px;
    border-radius: 7px;
    border-color: #F5BF00;
    margin: 10px;
    font-size: 12px;
    }


/* Hire Me/Know More Text properies */
  .GreyBoxButtons {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
  }
 
/* "The Hello, I am" entire title aligning properties */
  .IntroTitle {
    margin-left: 75px;
    margin-top: 90px;
  }
  /* Text format for the "Hello, I am..." part */

  #HelloIam {
    font-size: 50px;
    margin: 0px;
    font-weight:normal;

  }

/* Text format for the "Dorothy..." part */
  #DOROTHY {
    font-size:  150px;
    margin-top: -50px;
    color: #F5BF00;;
    font-weight:normal;

  }
  /* Text format for the "welcome to..." part */
  #WELCOME {
    font-size: 30px;
    margin-top: -40px;
    color:rgb(173, 173, 173);
    font-weight:normal;
  

  }

  /* aligning for my yellow headshot */

  #YellowBGImage {
    margin-left: 70px;
    padding: 50px;
  }



/* About, Resume, and My Projects sections will have these properties,
   Helped with centering images and test code https://www.w3.org/Style/Examples/007/center.en.html#vertical
*/
  .WhiteBox {
    color:#000000;
    margin: 5px auto;
    background-color: #ffffff;
    

  }
/* Msring above and below box 
 */
  .WhiteboxSpacing {
    margin-bottom: 80px;
    margin-top: 40px;
  }
    /* Tag for navigation + added some text formatting */
  #AboutMe {
    text-align: left;
    
  }

  /* some text formatting for the paragraph */
  #AboutMeText {
    text-align: left;
    font-size: 25px;
  }
  
  /* Aligning and adding an under line to main title
     MY WORK. 
  */

  #MyWork {
    margin: 20px;
    text-decoration: underline;
  }

  /* Text formatting for titles Project/Resume */

  #Projects-Resume {
    text-align: center;
    font-family:'Work Sans', sans-serif;
  
  }
/* changing all the project images to be the same size 

*/
  img.resize {
    width: 200px;
    height: 100px;

  }
  /* Making resume fit in side the
     box towards the center
  */

  img.resizeResume {
    width: 600px;
    height: 300;
    
  }
 /* adding flex properties to project pictures 
    so there is 2 rows/columns
  */
  img.stack {
    border-style: clear;
    border-width: 1px;
    margin: 40px; 

  }
  /* adding flex properties to project pictures 
    so there is 2 rows/columns
  */
  .FourBoxes {
    /* flex: 4; */
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-evenly; */
    /* align-items: flex-start; */

  }

  

  img.resume {
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
  } 

  



/* Contact me section will have the properties */
  .BlackBox {
    
    color: #F5BF00;
    margin: 5px auto;
    padding-top: 5px;
    background-color: #000000;
    text-align: center;

  }
  /* Text formatting for Get In Touch */
  #GetInTouch {
   margin: 20px;
   text-decoration: underline;
   color: #F5BF00;
   font-family:'Work Sans', sans-serif;;
  }
  /* This is where the contact live on the right
      and the styling.

  */
  .LeftBox {
    margin: 20px;
    padding: 20px;
    font-family: 'Work Sans', sans-serif;
 
  }
  /* This is where the forms live on the left
      and the styling.
  */
  .RightBox {
    margin: 20px;
    padding: 0px;
    padding-bottom: 20px;
    text-align: left;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
  }
  
/* I found the next 3 classes from https://coder-coder.com/display-divs-side-by-side/#flexbox-method 
   to get the .LeftBox and .Rightbox side by side.
*/
  .flex-container {
    display: flex;
    
}
/* https://coder-coder.com/display-di */
  .flex-child {
      flex: 1;
    
  }  
/* https://coder-coder.com/display-di */
  .flex-child:first-child {
      margin-right: 20px;
      margin-bottom: 10px;
  } 

  @media screen and (max-width: 500px) {
    .flex-container { 
      display:block;
    }
    
  }

  /* Size of input boxes */
  #Name-Emailbox {
    min-height: 60px;

  }

  /* Size of input boxes - Longer Height  */

  #Messagebox {
    min-height: 100px;
    
  }

  /* Lighter color for text/icons */
  #lighterYellow {
    color: #FFF1BD;
    font-size: 25px;
    margin-top: 5px;
  }


/* This is the input styling for the form boxes and 
    I used an example from W3 Schools 
    (https://www.w3schools.com/css/tryit.asp?filename=trycss_form_color)
*/
  input {
    width: 60%;
    padding: 12px 20px;
    margin: 20px 0;
    box-sizing: border-box;
    border-color: #F5BF00;
    background-color: #000000;
    border-radius: 7px;
    color: #F5BF00;
    text-decoration: underline;
    font-size: 20px;
    

  }
  /* Submit button styling */

  button {
   background-color: #F5BF00;
   color: white;
   width:60%;
   min-height: 50px;
   border-radius: 7px;
   margin: 10px;
   font-size: 20px;
   
  }

  /* Submit button text size */
  .submit {
    text-size-adjust: 50px;

  }

    /* Aligning of social media icons */
  .SocialMediaLinks {
    margin: 5px 5px;
    align-content: center;
  }

  /* More aligning of social media icons */
  #Github {
    margin: 1000px;

  }

  @media screen and (max-width: 768px) {
    header, main {
      flex-direction: column;
      width: 40%;
    }

    
      /* I tried making the page responsive but I was only able 
          to make the navigateion.
      */


  /* @media screen and (max-width: 1200px) {
    .flex-child {

      padding: 50%;

      width: 60%;
      height: 60%;
    }

  @media screen and (max-width: 900px) {
    .flex-child {
      width: 40%;
      height: 40%;
      padding: 30%;
    }
      
  @media screen and (max-width: 768px) {
    .flex-child {
      width: 30%;
      height: 30%;
      padding: 20%; */
    }

