/* Set the font size and line height */
body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-size: 16px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0%;
    background-color: #000000;
    color: #fff;
  }
  /* Change the heading size to 200%, give it a margin all around, and assign font family to serif */
h1 {
    margin: 2%;
    font-size: 200%;
    font-family: serif;
  }
  
  /* Change header size to 180%, give it a 3% margin on top and bottom, and assign font family to serif */
  h2 {
    margin: 3% 0;
    font-size: 180%;
    font-family: serif;
  }
  
  /* Change header size to 150% and assign font family to serif */
  h3 {
    font-size: 150%;
    font-family: serif;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    margin: 0;
    padding: 0;
    padding-right: 64px;
    padding-left: 64px;
    text-decoration-line: underline;
    font-weight: bold;
    
  /* add underline element */
  }
  
  nav a {
    color: #b9C6ae;
    font-weight: bold;
    text-decoration: none;
    /* font-size: 24px; */
  }
  main {
    display: flex;
    flex: 1 1 0;
    max-width: 4000px;
    margin: 2% auto;
  }

  section {
    flex: 1 1 0;
    padding-right: 5%;
  }
  
  article {
    border-bottom: 1px solid #d8a47f
  ;
  }




  @media screen and (max-width: 768px) {
    header, main {
      flex-direction: column;
    }

}